<div class="row m-3 justify-content-center bg-primary">
    <div class="col-3 text-light">
        <h2>Registration Page</h2>
    </div>
</div>
<form class="m-4 bg-success">
    <div class="row justify-content-center">
        <div class="mb-3 col-5">
            <label class="form-label">Admin name</label>
            <input type="text" name="adminname" id="adminname" class="form-control">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mb-3 col-5">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@gmail.com">
        </div> 
    </div>
    <div class="row justify-content-center">
        <div class="mb-3 col-5">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>    
</form>