<br><br>
<h1><span>T</span>utor <span>F</span>inder</h1>
<div class="adjust">
  <button type="button"  class="btn btn-primary">Logout</button>
</div><br>
<hr style="height:5px;border-width:0;color:lightseagreen;background-color:lightseagreen">

<h3 style="padding-left: 100px;">Listed E-books</h3><br>
<div class="adjust2">
  <button type="button"  class="btn btn-primary">View Tutors</button>
</div> 
<br>
<h3 style="padding-left: 100px;">Tutor List</h3><br>


<br><br>
<div class="table">
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Tutor Id</th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Qualification</th>
        <th scope="col">Experience in Years</th>
        <th scope="col">Subject</th>
        <th scope="col">Area</th>
        <th scope="col">City</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile no.</th>
      

        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
<tr>
        <td>1</td>
        <td>user1</td>
        <td>ABCD</td>

        <td>Graduate</td>
        <td>3</td>
        <td>Maths</td>

        <td>Area51</td>
        <td>Mumbai</td>
        <td>user1@gmail.com</td>
        <td>11220055</td>

        <td>
            <div>
            <button type="button" class="btn btn-primary">Details</button>
            <div class="space"></div>
            <button type="button" class="btn btn-info mx-3">Update</button>
            <div class="space"></div>
            <div class="space"></div>
            <button type="button" class="btn btn-info mx-3">Delete</button>
            <div class="space"></div>
        </div>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>