<div class="row m-3 justify-content-center" style="background-color: lightseagreen;">
    <h3 style="font-family: 'Times New Roman', Times, serif;" class="text-left" routerLink="" >Home</h3>

    <h2 style="font-family: 'Times New Roman', Times, serif;" class="text-center">PARENT LOGIN PAGE</h2>
</div>
<form>
    <div class="row justify-content-center">
        <div class="mb-3 col-5">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mb-3 col-5">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <button type="submit" class="btn btn-primary" routerLink="/parent-landing">Parent Login</button><br>
            <a routerLink="/parent-registration">Not a user yet? Click here</a>
            <br>
            <a routerLink="/tutor-login">Need Tutor Login, Click here</a>
        </div>
    </div>
</form>