<br><br>
<h1><span>T</span>utor <span>F</span>inder</h1>
<div class="adjust">
  <button type="button"  class="btn btn-primary" routerLink="">Logout</button>
</div><br>
<hr style="height:5px;border-width:0;color:lightseagreen;background-color:lightseagreen">


<h3 style="padding-left: 100px;">Listed E-books</h3><br>
<!-- <div class="adjust2">
  <button type="button"  class="btn btn-primary">View Tutors</button>
</div> --> -->

<br><br>
<div class="table">
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">E-Book no.</th>
        <th scope="col">Name</th>
        <th scope="col">Standard</th>
        <th scope="col">Tutor Name</th>
        <th scope="col">Download Book</th>
       
      </tr>
    </thead>
    <tbody>
<tr>
        <td>1</td>
        <td>Physics Olympiad - Basic To Advanced Exercises </td>
        <td>10</td>
        <td>ABCD</td>
        <td>
          <div>
           
            <button type="button" class="btn btn-info mx-3"   
                > <a href = "/assets/Physics Olympiad - Basic To Advanced Exercises.pdf" download >Download</a></button>
            <div class="space"></div>
          </div>
        </td>
      </tr>

      <tr>
        <td>2</td>
        <td>Advanced book on Mathematics Olympiad </td>
        <td>10</td>
        <td>ABCD</td>
        <td>
          <div>
           
            <button type="button" class="btn btn-info mx-3"   
                > <a href = "/assets/Advanced book on Mathematics Olympiad.pdf" download >Download</a></button>
            <div class="space"></div>
          </div>
        </td>
      </tr>

      <tr>
        <td>3</td>
        <td>Chemistry For Dummies </td>
        <td>8</td>
        <td>PQRS</td>
        <td>
          <div>
           
            <button type="button" class="btn btn-info mx-3"   
                > <a href = "/assets/Chemistry For Dummies.pdf" download >Download</a></button>
            <div class="space"></div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>